.abc{
    font-family:Graphik-Regular-Web,sans-serif;
    text-align: center;
    background-color: rgb(20, 24, 28);
}
.navbar-brand{
    margin-left: -20%;
    margin-bottom: -55px;
    position: absolute;
    z-index: 6;
}
.nav-link{
    margin-left: 50px;
    position: relative
}
.form-inline my-2 my-lg-0{
    border-radius: 40%;
}



.container{
    height: 600px;
     position: relative;
    margin-bottom: 50px;
    
}

.text{
    position: absolute;
    top: 70%;
    left:  50%;
    transform: translate(-50%,-50%);
    font-family:TiemposHeadlineWeb-Bold,Georgia,serif;
    z-index: 5;
    position: relative;
    
    
}


.platforms{
    display: block;
    margin-bottom: .5em;
    text-align: center;
    font-weight: 400;
}
.form-inline{
    margin-left: 60%;
    margin-bottom: 10px;
    position: absolute;
    z-index: 10;
}


.img{
    margin-left: 60px;
}
footer .container{
    display: flex;
    
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 0;
    flex-wrap: wrap;
}
.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}
.social{
    align-items: center;
}
.footer-nav {
    display: flex;
     justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #314D68;
     word-spacing: normal;
    
    
}
.copyright{
    background-color: #314D68;
}

     





